In [207]:
#Cwiczenie 1
import pandas as pd
import numpy as np

#Zadanie 1
titanic = pd.read_csv('titanic.csv')
titanic=titanic.replace('?',np.NaN)
titanic['CabinReduced'] = titanic['cabin'].astype(str).str[0]

Zadanie 2<br>
Funkcja train_test_split dzieli podane jako argument dane (tablicę, macierz) na losowe zbiory treningowy i testowy.

In [208]:
#Zadanie 3
col_name = ['cabin','CabinReduced','sex']

In [209]:
from sklearn.model_selection import train_test_split

#Zadanie 4
X_train, X_test, y_train, y_test = train_test_split(titanic[col_name],titanic['survived'],test_size=0.3,random_state=0)
print(X_train.shape, X_test.shape,y_train.shape,y_test.shape)

(916, 3) (393, 3) (916,) (393,)

Funkcja podzieliła zbiór tak, że 70% trafilo do zbioru treningowego, a 30% do zbioru testowego. Proporcje te są takie same w przypadku X jak i y. Zbiór X ma trzy kolumny, bo tyle ich podaliśmy przy wywoływaniu funkcji jako zmienną niezależną.

In [210]:
#Zadanie 5
Unique_test1 = [x for x in X_test.cabin.unique() if x not in X_train.cabin.unique()]
len(Unique_test1)

37

In [211]:
Unique_test2 = [x for x in X_test.CabinReduced.unique() if x not in X_train.CabinReduced.unique()]
len(Unique_test2)

0

In [212]:
Unique_test3 = [x for x in X_test.sex.unique() if x not in X_train.sex.unique()]
len(Unique_test3)

0

Rozkład etykiet jest równomierny dla 'CabinReduced' i 'sex', ale nie dla 'cabin'.

In [213]:
#Zadanie 6

def f(x,col):
    y={}  
    c=list(set(x[col]))
    for i, x in enumerate(c):
        y[x] = i
    return y
X=[None]*3
Y=[None]*3
i=0
for c in col_name:
    X[i]=f(X_train,c) 
    Y[i]=f(X_test,c)
    print(X[i],Y[i])
    i=i+1

{nan: 0, 'A36': 1, 'D47': 2, 'D49': 3, 'D': 4, 'C78': 5, 'B50': 6, 'E8': 7, 'D56': 8, 'A20': 9, 'D9': 10, 'B24': 11, 'C83': 12, 'C99': 13, 'E45': 14, 'A6': 15, 'C85': 16, 'E121': 17, 'D33': 18, 'D6': 19, 'D15': 20, 'C93': 21, 'C92': 22, 'B37': 23, 'B18': 24, 'B94': 25, 'C82': 26, 'C125': 27, 'C105': 28, 'C118': 29, 'E24': 30, 'D7': 31, 'D17': 32, 'C49': 33, 'C2': 34, 'A34': 35, 'A16': 36, 'E34': 37, 'B96 B98': 38, 'E63': 39, 'C22 C26': 40, 'F4': 41, 'C55 C57': 42, 'F E57': 43, 'C128': 44, 'B30': 45, 'C110': 46, 'A21': 47, 'B41': 48, 'B45': 49, 'C54': 50, 'D21': 51, 'D26': 52, 'B36': 53, 'F G63': 54, 'A24': 55, 'C130': 56, 'D28': 57, 'C89': 58, 'C95': 59, 'A11': 60, 'B51 B53 B55': 61, 'E44': 62, 'A26': 63, 'B77': 64, 'C116': 65, 'C123': 66, 'A29': 67, 'C28': 68, 'B3': 69, 'C126': 70, 'E36': 71, 'C51': 72, 'B71': 73, 'E77': 74, 'B73': 75, 'B58 B60': 76, 'B86': 77, 'C90': 78, 'C65': 79, 'E60': 80, 'D36': 81, 'B61': 82, 'E49': 83, 'C87': 84, 'E68': 85, 'F': 86, 'C52': 87, 'C30': 88, 'D20': 89, 'B42': 90, 'B26': 91, 'E46': 92, 'B28': 93, 'C80': 94, 'G6': 95, 'A10': 96, 'D34': 97, 'D38': 98, 'B20': 99, 'D40': 100, 'B4': 101, 'C111': 102, 'E101': 103, 'E33': 104, 'C91': 105, 'C62 C64': 106, 'F G73': 107, 'A9': 108, 'B35': 109, 'E50': 110, 'F2': 111, 'C148': 112, 'A14': 113, 'C6': 114, 'B57 B59 B63 B66': 115, 'C101': 116, 'D43': 117, 'B69': 118, 'E25': 119, 'A18': 120, 'C132': 121, 'D50': 122, 'F E46': 123, 'E10': 124, 'C86': 125, 'T': 126, 'B5': 127, 'B52 B54 B56': 128, 'D19': 129, 'F33': 130, 'E31': 131, 'E67': 132, 'D35': 133, 'B49': 134, 'C103': 135, 'C68': 136, 'D46': 137, 'D37': 138, 'B78': 139, 'B19': 140, 'E38': 141, 'C97': 142, 'C39': 143, 'C124': 144, 'C7': 145, 'D30': 146, 'E17': 147, 'B102': 148, 'A5': 149, 'C23 C25 C27': 150} {nan: 0, 'E25': 1, 'B58 B60': 2, 'D10 D12': 3, 'C22 C26': 4, 'F4': 5, 'D': 6, 'C70': 7, 'E40': 8, 'B79': 9, 'E8': 10, 'C104': 11, 'B10': 12, 'E52': 13, 'B41': 14, 'F33': 15, 'C53': 16, 'C52': 17, 'B45': 18, 'B101': 19, 'F E69': 20, 'B80': 21, 'D21': 22, 'C85': 23, 'C80': 24, 'G6': 25, 'B49': 26, 'F38': 27, 'D48': 28, 'A7': 29, 'A23': 30, 'D28': 31, 'C31': 32, 'C32': 33, 'B51 B53 B55': 34, 'D15': 35, 'A19': 36, 'B78': 37, 'D37': 38, 'B20': 39, 'A31': 40, 'B39': 41, 'E44': 42, 'B18': 43, 'C23 C25 C27': 44, 'D11': 45, 'B11': 46, 'B82 B84': 47, 'C62 C64': 48, 'C106': 49, 'C46': 50, 'E39 E41': 51, 'F G73': 52, 'D22': 53, 'E24': 54, 'C124': 55, 'C50': 56, 'F2': 57, 'D30': 58, 'B57 B59 B63 B66': 59, 'C101': 60, 'D45': 61, 'C2': 62, 'C45': 63, 'E12': 64, 'C47': 65, 'A32': 66, 'B22': 67, 'E58': 68, 'B96 B98': 69, 'B38': 70}
{'B': 0, 'G': 1, 'D': 2, 'C': 3, 'E': 4, 'A': 5, 'T': 6, 'F': 7, 'n': 8} {'B': 0, 'G': 1, 'D': 2, 'C': 3, 'E': 4, 'A': 5, 'F': 6, 'n': 7}
{'male': 0, 'female': 1} {'male': 0, 'female': 1}

In [214]:
#Zadanie 7
i=0
for c in col_name:
    X_train[c+'_map']= X_train[c].map(X[i])    
    X_test[c+'_map']= X_test[c].map(Y[i])
    i=i+1 
X_train[['cabin_map','cabin','CabinReduced_map','CabinReduced','sex_map','sex']].head(5)

      cabin_map cabin  CabinReduced_map CabinReduced  sex_map     sex
501           0   NaN                 8            n        1  female
588           0   NaN                 8            n        1  female
402           0   NaN                 8            n        1  female
1193          0   NaN                 8            n        0    male
686           0   NaN                 8            n        1  female

In [215]:
X_test[['cabin_map','cabin','CabinReduced_map','CabinReduced','sex_map','sex']].head(5)

      cabin_map cabin  CabinReduced_map CabinReduced  sex_map     sex
1139          0   NaN                 7            n        0    male
533           0   NaN                 7            n        1  female
459           0   NaN                 7            n        0    male
1150          0   NaN                 7            n        0    male
393           0   NaN                 7            n        0    male

In [216]:
#Zadanie 8
X_train.isnull().sum()

cabin               702
CabinReduced          0
sex                   0
cabin_map             0
CabinReduced_map      0
sex_map               0
dtype: int64

In [217]:
X_test.isnull().sum()

cabin               312
CabinReduced          0
sex                   0
cabin_map             0
CabinReduced_map      0
sex_map               0
dtype: int64

W kolumnach powstałych w wyniku map nie ma brakujących wartości. Jest to spowodawane tym, że w wyniku mapowania wartości null zostały zastąpione przez inne watości i nie są one liczone jako brakujące wartości.

In [218]:
#Zadanie 9
titanic=titanic.replace(np.NaN,0)

Zmieniając nulle na 0 dodajemy nową etykietę, co zwiększy kardynalność i wpłynie na dalsze działania.

In [219]:
#Zadanie 10
Unique_test1 = [x for x in X_test.cabin_map.unique() if x not in X_train.cabin_map.unique()]
len(Unique_test1)

0

In [220]:
Unique_test2 = [x for x in X_test.CabinReduced_map.unique() if x not in X_train.CabinReduced_map.unique()]
len(Unique_test2)

0

In [221]:
Unique_test3 = [x for x in X_test.sex_map.unique() if x not in X_train.sex_map.unique()]
len(Unique_test3)

0

In [222]:
for c in X_train:
    print('Liczba etykiet X_train zmiennej ' +c+ ': {} '.format(len(X_train[c].unique()))) 
for c in X_test:
    print('Liczba etykiet X_test zmiennej ' +c+ ': {} '.format(len(X_test[c].unique())))

Liczba etykiet X_train zmiennej cabin: 151
Liczba etykiet X_train zmiennej CabinReduced: 9
Liczba etykiet X_train zmiennej sex: 2
Liczba etykiet X_train zmiennej cabin_map: 151
Liczba etykiet X_train zmiennej CabinReduced_map: 9
Liczba etykiet X_train zmiennej sex_map: 2
Liczba etykiet X_test zmiennej cabin: 71
Liczba etykiet X_test zmiennej CabinReduced: 8
Liczba etykiet X_test zmiennej sex: 2
Liczba etykiet X_test zmiennej cabin_map: 71
Liczba etykiet X_test zmiennej CabinReduced_map: 8
Liczba etykiet X_test zmiennej sex_map: 2

Liczba etykiet po redukcji zmalała w stosunku do ich liczny przed redukcją. Po mapowanoi liczba etykiet się nie zmieniła.<br>
Tak, cały proces może mieć wpływ na końcowy wynik predykcji i jakość modelu: redukcja etykier, zmiana brakujących wartości na zera..